################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RUNAHMS
/Bussiness Object/bin/Debug/net7.0
/Bussiness Object/obj
/DAL/bin/Debug/net7.0
/DAL/obj
/RUNAHMS-API/bin/Debug/net7.0
/RUNAHMS-API/obj
/RUNAHMS-API/Properties/PublishProfiles
